<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>XX賣場</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/table.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <h1>優惠</h1>
    
    <table border="0">
    　<tr>
    　<td><h2>AVALON B群洗髮精家庭號-946ml</h2>
    <p>建議售價:$439<br>
    單價$415<br>
    規格:946ml<br>
    產地:美國<br>
    單位:1/瓶<br>
    產品說明:<br>
    含天然生物素B群，能鞏固髮根，強健髮絲，修護受損頭髮，<br>秀髮變得健康水潤，
    純有機蘆薈汁基底，溫和洗淨不易刺激，<br>添加北非雪松、萊姆、柚子、柑橘、
    葡萄柚、檸檬、尤加利<br>葉、圓柏、迷迭香、生薑10種精油及有機向日葵油、
    荷荷巴<br>油、燕麥、金盞花、洋甘菊、昆諾阿藜籽、胡蘿蔔、酪梨、<br>覆盆莓、鋸棕梠、
    番茄等15種等有機植萃成份美國NSF/ANSI<br>305有機成分認證，含70%以上有機成份，
    不含化學香精，<br>色素，矽靈，SLS界面活性劑，Parabens防腐劑，
    塑化劑，<br>基因改造成份，不做動物性實驗。</p></td>
    　<td><img src="{% static 'main/img/e.jpg' %}" alt="AVALON B群洗髮精家庭號-946ml" /></td>
    　</tr>
  </table>
    
    <table border="0">
    　<tr>
    　<td><h2>義大利Illy低咖啡因咖啡粉 250g</h2>
    <p>建議售價:$339<br>
    單價$310<br>
    規格:250g<br>
    產地:義大利<br>
    單位:1/罐<br>
    產品說明:<br>
    中度烘焙：經典口味，平衡與滑順的口感，烘烤巧克力、<br>焦糖的香氣，以及些微的花香。
    本產品的咖啡粉顆粒粗細<br>是以espresso萃煮為標準研磨的，以罐身下方的綠色帶圈<br>代表低咖啡因口味；
    口感與中烘焙相仿、香氣十足。此產<br>品咖啡因含量僅0.05%，約每杯咖啡含有3毫克的咖啡因，<br>
    遠低於衛生署建議之每日300毫克之安全攝取量規定。</p></td>
    　<td><img src="{% static 'main/img/f.jpg' %}" alt="義大利Illy低咖啡因咖啡粉 250l" /></td>
    　</tr>
  </table>
  </body>
</html>