<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>XX賣場</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <h1>購物說明</h1>
    <h3>1.選購商品</h3>
    <p>可直接瀏覽XX官方購物網站的產品介紹頁面進行選購。<br>
    另不定期提供網路專屬商品和組合。</p><br>

    <h3>2.購物結帳</h3>
    <p>選定好您要購買的產品，即可結帳。
    </p><br>
    
    <h3>3.登入/註冊</h3>
    <P><b>非會員：</b>點選首頁上方「會員登入/註冊」後，<br>
    請填寫姓名、生日、E-mail(作為您未來的登入帳號)、<br>
    登入密碼、手機(或電話)等必填欄位資料，即可立即確認加入會員；<br>
    <b>會員：</b>選擇登入帳號與密碼即可完成登入作業。</P><br>
    
    <h3>4.填寫資料</h3>
    <p>填寫正確詳細的收件者姓名與聯絡方式、寄送地址，並選擇希望的付款方式</p><br>
    
    <h3>5.訂購完成</h3>
    <p>訂單確認後，電子信箱或手機都會即時收到訂購相關訊息，<br>
    我們將於5~7個工作日後送達收件地址。</p><br>
  </body>
</html>