<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>XX賣場</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/table.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <h1>推薦</h1>
    
    <table border="0">
    　<tr>
    　<td><h2>Selecline直立式吸塵器 SL-HWD01</h2>
    <p>建議售價$888<br>
    單價$599<br>
    規格:SL-HWD01<br>
    產地:<br>
    單位:1/台<br>
    產品說明：<br>
    額定電壓/頻率：AC 110V~/60Hz<br>
    消耗功率:600W<br>
    吸入功率:180W<br>
    集塵盒容量：約0.8公升<br>
    直立/手持兩用，輕鬆使用不費力，<br>龍捲風渦捲式吸塵方式，採用褶狀濾網，<br>
    可吸附過濾更細小的微塵，地刷轉軸可自由轉動180度，<br>不同角落皆清掃容易。
    本體自立式功能，方便收納，<br>把手易拆式，改成手持式兩用集塵杯可水洗。</p></td>
    　<td><img src="{% static 'main/img/g.jpg' %}" alt="Selecline直立式吸塵器 SL-HWD01" /></td>
    　</tr>
  </table>
    
    <table border="0">
    　<tr>
    　<td><h2>FP抽取式衛生紙130*36包</h2>
    <p>建議售價$359<br>
    單價$ 299<br>
    規格:130抽36包<br>
    產地:台灣<br>
    單位:1/串<br>
    產品說明<br>
    成分:100%原生紙漿<br><br></td>
    　<td><img src="{% static 'main/img/h.jpg' %}" alt="FP抽取式衛生紙130*36包" /></td>
    　</tr>
  </table>
    
    
    
    
    
    
    
    
  </body>
</html>